body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: bisque;
  margin: 0 auto;
  max-width: 50em;
}

h1 {
  color: green;
}

h2 {
  color: blue;
}

.questions {
  font-weight: bold;
}
